<a href="https://colab.research.google.com/github/knoppin1/DATA-690-WANG/blob/master/Assignment_05/Assignment_05.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# DATA-609: Assignment 05

### Ken Noppinger (knoppin1@umbc.edu)

1. Explore College Scorecard website - https://collegescorecard.ed.gov/
2. Explore College Scorecard Data web page - https://collegescorecard.ed.gov/data/
3. Download and skim the documentation - https://collegescorecard.ed.gov/assets/FullDataDocumentation.pdf
4. Download the dataset - https://ed-public-download.app.cloud.gov/downloads/CollegeScorecard_Raw_Data.zip (265MB Zip File)
5. Unzip the file into a folder (there are many files, one for each school year)
6. Import the 2017-2018 school year file "MERGED2017_18_PP.csv" and explore:

    - How many colleges or rows?
    - How many variables or columns?
    - Look at the first 20 rows
    - Look at the last 20 rows
    - Look at a random sample of 20 rows

7.  There are too many variables to explore, many of which are not interesting.  So, modify the import statement to only import the following 9 variables:

    - UNITID
    - INSTNM
    - CITY
    - STABBR
    - ZIP
    - ADM_RATE
    - UGDS
    - TUITIONFEE_IN
    - MN_EARN_WNE_P10

8.  Download and read the data dictionary file - https://collegescorecard.ed.gov/assets/CollegeScorecardDataDictionary.xlsx

9. Find out the definition of the above 9 variables and document the definitions in the Jupyter Notebook so that the readers will not need to repeat the research to know the meaning of these variables.

10. Explore the smaller data frame
- Look at the first 20 colleges
- Look at the last 20 colleges
- Look at a random sample of 20 colleges
- Find and display UMBC
- Find Univ. of Maryland College Park
- Find and display Loyola College Maryland
- Find and display Johns Hopkins
- Calculate the min, max, and average in-state tution of the above four institutions.

Note: Make sure the notebook file is well organized using Markdown and code comments.

---

In [ ]:
# Import libraries
import pandas as pd

# Constants
DATA_FILE = 'MERGED2017_18_PP.csv'

## Load the 2017-2018 school year file "MERGED2017_18_PP.csv"

In [ ]:
df = pd.read_csv(DATA_FILE)  
df

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (1729) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

        UNITID    OPEID  ...  FTFTPCTFLOAN_POOLED_SUPP SCUGFFN_POOLED
0       100654   100200  ...                       NaN            NaN
1       100663   105200  ...                       NaN            NaN
2       100690  2503400  ...                       NaN            NaN
3       100706   105500  ...                       NaN            NaN
4       100724   100500  ...                       NaN            NaN
...        ...      ...  ...                       ...            ...
7107  48312404   108163  ...                       NaN            NaN
7108  48387801  4223701  ...                       NaN            NaN
7109  48400201  4228101  ...                       NaN            NaN
7110  48778201  4221501  ...                       NaN            NaN
7111  49005401  4182601  ...                       NaN            NaN

[7112 rows x 1986 columns]

### Find how many colleges (rows) and how many variables (columns)?

In [ ]:
# Get dataframe rows and columns
df.shape

(7112, 1986)

In [ ]:
# Number of colleges (rows)
len(df.index)

7112

In [ ]:
# Number of attributes (columns)
len(df.columns)

1986

### Look at the first 20 rows

In [ ]:
df.head(20)

    UNITID    OPEID  ...  FTFTPCTFLOAN_POOLED_SUPP SCUGFFN_POOLED
0   100654   100200  ...                       NaN            NaN
1   100663   105200  ...                       NaN            NaN
2   100690  2503400  ...                       NaN            NaN
3   100706   105500  ...                       NaN            NaN
4   100724   100500  ...                       NaN            NaN
5   100751   105100  ...                       NaN            NaN
6   100760   100700  ...                       NaN            NaN
7   100812   100800  ...                       NaN            NaN
8   100830   831000  ...                       NaN            NaN
9   100858   100900  ...                       NaN            NaN
10  100937   101200  ...                       NaN            NaN
11  101028  1218200  ...                       NaN            NaN
12  101073  1055400  ...                       NaN            NaN
13  101116  1303906  ...                       NaN            NaN
14  101143   101500  ...                       NaN            NaN
15  101161   106000  ...                       NaN            NaN
16  101189   100300  ...                       NaN            NaN
17  101240   101700  ...                       NaN            NaN
18  101277  4187200  ...                       NaN            NaN
19  101286   101800  ...                       NaN            NaN

[20 rows x 1986 columns]

### Look at the last 20 rows

In [ ]:
df.tail(20)

        UNITID    OPEID  ...  FTFTPCTFLOAN_POOLED_SUPP SCUGFFN_POOLED
7092  47503311  4208611  ...                       NaN            NaN
7093  47503312  4208612  ...                       NaN            NaN
7094  47503313  4208613  ...                       NaN            NaN
7095  47647001  4088301  ...                       NaN            NaN
7096  47662901  4189101  ...                       NaN            NaN
7097  47691101  4205801  ...                       NaN            NaN
7098  48065701   869423  ...                       NaN            NaN
7099  48079001  4218901  ...                       NaN            NaN
7100  48092101  4220001  ...                       NaN            NaN
7101  48133101  4213501  ...                       NaN            NaN
7102  48154401  4220901  ...                       NaN            NaN
7103  48305401  4224601  ...                       NaN            NaN
7104  48312401   108131  ...                       NaN            NaN
7105  48312402   108161  ...                       NaN            NaN
7106  48312403   108162  ...                       NaN            NaN
7107  48312404   108163  ...                       NaN            NaN
7108  48387801  4223701  ...                       NaN            NaN
7109  48400201  4228101  ...                       NaN            NaN
7110  48778201  4221501  ...                       NaN            NaN
7111  49005401  4182601  ...                       NaN            NaN

[20 rows x 1986 columns]

### Look at a random sample of 20 rows

In [ ]:
df.sample(n=20, random_state=1)

        UNITID    OPEID  ...  FTFTPCTFLOAN_POOLED_SUPP SCUGFFN_POOLED
3205    217624   341700  ...                       NaN            NaN
4775    436030  3327300  ...                       NaN            NaN
4109    364548  1071700  ...                       NaN            NaN
4482    413626  3096400  ...                       NaN            NaN
3506    227429   360200  ...                       NaN            NaN
6726  13090702  1172703  ...                       NaN            NaN
5642    457952  4158000  ...                       NaN            NaN
5523    455840  4147700  ...                       NaN            NaN
3099    214829   332918  ...                       NaN            NaN
420     120953   125900  ...                       NaN            NaN
4177    368452  2578200  ...                       NaN            NaN
1750    173258   234000  ...                       NaN            NaN
6582    489858  3698307  ...                       NaN            NaN
5784    460701  3816301  ...                       NaN            NaN
4845    439482  3294306  ...                       NaN            NaN
1822    175342   239600  ...                       NaN            NaN
4053    250601  2100614  ...                       NaN            NaN
1028    147776   169300  ...                       NaN            NaN
3201    217572   659100  ...                       NaN            NaN
1892    177579  1027900  ...                       NaN            NaN

[20 rows x 1986 columns]

---
## Documented definitions for the following 9 columns of the data set.
*   ***UNITID***:  Unique identification number assigned to postsecondary institutions
*   ***INSTNM***:  Name of institution
*   ***CITY***: City of institution's location
*   ***ZIP***: Zip code of institution's location
*   ***STABBR***: State abreviation of institution's location
*   ***ADM_RATE***: Fall Admission rate for institution. Number of admitted undergraduates divided by number of applicants
*   ***UGDS***: Number of degree/certificate-seeking undergraduates enrolled in the fall
*   ***TUITIONFEE_IN***: In-state tuition fees
*   ***MN_EARN_WNE_P10***: Mean earnings for institutional aggregate of all federally aided students who enroll in an institution each year and who are
employed but not enrolled.  This mean reflects 10 years after enrollment.

## Re-import the data with above 9 columns (ignore all other variables)

In [ ]:
columns_of_interest = ['UNITID', 'INSTNM', 'CITY', 'ZIP', 'STABBR', 'ADM_RATE', 'UGDS', 'TUITIONFEE_IN', 'MN_EARN_WNE_P10']
colleges_df = pd.read_csv(DATA_FILE, header = 0, usecols = columns_of_interest)  
colleges_df.shape

(7112, 9)

In [ ]:
# Verify dataset has appropriate data for columns of interest
colleges_df.head(4).T

                                        0  ...                                    3
UNITID                             100654  ...                               100706
INSTNM           Alabama A & M University  ...  University of Alabama in Huntsville
CITY                               Normal  ...                           Huntsville
STABBR                                 AL  ...                                   AL
ZIP                                 35762  ...                                35899
ADM_RATE                           0.9027  ...                               0.8123
UGDS                                 4824  ...                                 6917
TUITIONFEE_IN                        9857  ...                                10280
MN_EARN_WNE_P10                       NaN  ...                                  NaN

[9 rows x 4 columns]

### Look at the first 20 colleges

In [ ]:
colleges_df.head(20)

    UNITID  ... MN_EARN_WNE_P10
0   100654  ...             NaN
1   100663  ...             NaN
2   100690  ...             NaN
3   100706  ...             NaN
4   100724  ...             NaN
5   100751  ...             NaN
6   100760  ...             NaN
7   100812  ...             NaN
8   100830  ...             NaN
9   100858  ...             NaN
10  100937  ...             NaN
11  101028  ...             NaN
12  101073  ...             NaN
13  101116  ...             NaN
14  101143  ...             NaN
15  101161  ...             NaN
16  101189  ...             NaN
17  101240  ...             NaN
18  101277  ...             NaN
19  101286  ...             NaN

[20 rows x 9 columns]

### Look at the last 20 colleges

In [ ]:
colleges_df.tail(20)

        UNITID  ... MN_EARN_WNE_P10
7092  47503311  ...             NaN
7093  47503312  ...             NaN
7094  47503313  ...             NaN
7095  47647001  ...             NaN
7096  47662901  ...             NaN
7097  47691101  ...             NaN
7098  48065701  ...             NaN
7099  48079001  ...             NaN
7100  48092101  ...             NaN
7101  48133101  ...             NaN
7102  48154401  ...             NaN
7103  48305401  ...             NaN
7104  48312401  ...             NaN
7105  48312402  ...             NaN
7106  48312403  ...             NaN
7107  48312404  ...             NaN
7108  48387801  ...             NaN
7109  48400201  ...             NaN
7110  48778201  ...             NaN
7111  49005401  ...             NaN

[20 rows x 9 columns]

### Look at a random sample of 20 colleges

In [ ]:
colleges_df.sample(n=20, random_state=1)

        UNITID  ... MN_EARN_WNE_P10
3205    217624  ...             NaN
4775    436030  ...             NaN
4109    364548  ...             NaN
4482    413626  ...             NaN
3506    227429  ...             NaN
6726  13090702  ...             NaN
5642    457952  ...             NaN
5523    455840  ...             NaN
3099    214829  ...             NaN
420     120953  ...             NaN
4177    368452  ...             NaN
1750    173258  ...             NaN
6582    489858  ...             NaN
5784    460701  ...             NaN
4845    439482  ...             NaN
1822    175342  ...             NaN
4053    250601  ...             NaN
1028    147776  ...             NaN
3201    217572  ...             NaN
1892    177579  ...             NaN

[20 rows x 9 columns]

### Find and display UMBC

In [ ]:
umbc = colleges_df[colleges_df['INSTNM'] == 'UMBC']
umbc

Empty DataFrame
Columns: [UNITID, INSTNM, CITY, STABBR, ZIP, ADM_RATE, UGDS, TUITIONFEE_IN, MN_EARN_WNE_P10]
Index: []

Note: No results with 'UMBC', so expand the acronym to substring search for the words in the institution name

In [ ]:
umbc = colleges_df[colleges_df['INSTNM'].str.contains('Maryland') & colleges_df['INSTNM'].str.contains('Baltimore County')]
umbc

      UNITID  ... MN_EARN_WNE_P10
1478  163268  ...             NaN

[1 rows x 9 columns]

### Find and display Univ. of Maryland College Park

In [ ]:
umcp = colleges_df[colleges_df['INSTNM'].str.contains('Maryland') & colleges_df['INSTNM'].str.contains('College Park')]
umcp

      UNITID  ... MN_EARN_WNE_P10
1479  163286  ...             NaN

[1 rows x 9 columns]

### Find and display Loyola College Maryland

In [ ]:
loyola = colleges_df[colleges_df['INSTNM'].str.contains('Maryland') & colleges_df['INSTNM'].str.contains('Loyola')]
loyola

      UNITID                      INSTNM  ... TUITIONFEE_IN MN_EARN_WNE_P10
1475  163046  Loyola University Maryland  ...       47560.0             NaN

[1 rows x 9 columns]

 ### Find and display Johns Hopkins

In [ ]:
jhu = colleges_df[colleges_df['INSTNM'].str.contains('Johns Hopkins') ]
jhu

      UNITID                    INSTNM  ... TUITIONFEE_IN MN_EARN_WNE_P10
1473  162928  Johns Hopkins University  ...       52170.0             NaN

[1 rows x 9 columns]

### Calculate the min, max, and average in-state tution of the above four institutions.

In [ ]:
# Append dataframes 
df = umbc.append(umcp,ignore_index=True).append(loyola,ignore_index=True).append(jhu,ignore_index=True)
df

   UNITID  ... MN_EARN_WNE_P10
0  163268  ...             NaN
1  163286  ...             NaN
2  163046  ...             NaN
3  162928  ...             NaN

[4 rows x 9 columns]

Minimum tuition

In [ ]:
min_tuition = min(df['TUITIONFEE_IN'])
min_tuition

10399.0

In [ ]:
# Display intstitution with minimum tuition
# Reference: https://pythonexamples.org/pandas-dataframe-query/
filter = "TUITIONFEE_IN == " + str(min_tuition)
df1 = df.query(filter)
print(f"{df1.iloc[0,1]} has minimum tuition of {'${:,.2f}'.format(min_tuition)}")

University of Maryland-College Park has minimum tuition of $10,399.00

Maximum tuition

In [ ]:
max_tuition = max(df['TUITIONFEE_IN'])
max_tuition

52170.0

In [ ]:
# Display intstitution with maximum tuition
institution = df[df.TUITIONFEE_IN.eq(max_tuition)].iloc[0,1]
print(f"{institution} has maximum tuition of {'${:,.2f}'.format(max_tuition)}")

Johns Hopkins University has maximum tuition of $52,170.00

Average in-state tuition

In [ ]:
avg_tuition = df["TUITIONFEE_IN"].mean()
avg_tuition

30411.75

In [ ]:
print(f"Average in-state tuition for selected colleges is {'${:,.2f}'.format(avg_tuition)}")

Average in-state tuition for selected colleges is $30,411.75

# COMPLETE